/* .fadeInOut-enter {
    opacity: 0.01;
}

.fadeInOut-enter.fadeInOut-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fadeInOut-leave {
    opacity: 1; 
}

.fadeInOut-leave.fadeInOut-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
} */

.animated-router {
  /** START: 自定义进出场动画 **/
  /** END **/
}
.animated-router-container {
  /* 动画容器节点 */
}
.animated-router-in-transition {
    /* 页面动画中 */
    position: relative;
    width: 100%;
    overflow: hidden;
}
.animated-router-forward-enter, .animated-router-backward-enter {
    opacity: 0.01;
    transform: translate(-20%);
}
.animated-router-forward-enter-active, .animated-router-backward-enter-active {
    opacity: 1;
    transform: translate(0);
}
.animated-router-forward-exit, .animated-router-backward-exit {
    opacity: 1; 
    transform: translate(0);
}
.animated-router-forward-exit-active, .animated-router-backward-exit-active {
    opacity: 0.01;
    transform: translate(20%);
}
/* 
.animated-router-backward-enter {
  transform: translate(-100%);
}
.animated-router-backward-enter-active {
  transform: translate(0);
}
.animated-router-backward-exit {
  transform: translate(0);
}
.animated-router-backward-exit-active {
  transform: translate(100%);
}*/

 .animated-router-forward-exit-active, .animated-router-backward-exit-active {
  /* 不同过渡阶段需要的过渡时间与缓动效果 */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.animated-router-forward-enter-active, .animated-router-backward-enter-active {
  transition: transform 0.4s ease-in, opacity 0.4s ease-in;
}

.animated-router-forward-exit, .animated-router-backward-exit {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
}