
.submenu_lvl1>.el-submenu__title {
    padding-left: 40px;
}

.submenu_lvl2>.el-submenu__title {
    padding-left: 60px;
}

.submenu_lvl3>.el-submenu__title {
    padding-left: 80px;
}

.submenu_lvl4>.el-submenu__title {
    padding-left: 100px;
}

.el-menu-item.menuitem_lvl1 {
    padding-left: 40px;
}

.el-menu-item.menuitem_lvl2 {
    padding-left: 60px;
}

.el-menu-item.menuitem_lvl3 {
    padding-left: 80px;
}

.el-menu-item.menuitem_lvl4 {
    padding-left: 100px;
}